<div id="fileInputBox">
    <form action="/fileInput" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile" placeholder="Click to select a file."/>
        <button type="submit">Upload</button>
    </form>
</div>